body, html, ul{
    margin: 0;
    font-family: Helvetica, sans-serif;
}

/* Header Glow */

.glow {
    font-size: 180px;
    color: transparent;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.glow-flicker {
    font-size: 180px;
    color: transparent;
    animation: text-flicker 3s linear infinite;
}
  
@-webkit-keyframes glow-flicker {
    from {
        text-shadow: 0 0 3px transparent, 0 0 32px white, 0 0 0px #eb01f6, 0 0 18px #eb01f6, 0 0 11px #eb01f6, 0 0 14px #eb01f6, 0 0 40px #eb01f6;    }
    to {
      text-shadow: 0 0 3px transparent, 0 0 32px white, 0 0 0px #f65efe, 0 0 18px #f65efe, 0 0 11px #f65efe, 0 0 14px white, 0 0 20px white;
    }
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 3px transparent, 0 0 32px white, 0 0 0px #eb01f6, 0 0 18px #eb01f6, 0 0 11px #eb01f6, 0 0 14px #eb01f6, 0 0 40px #eb01f6;    }
    to {
      text-shadow: 0 0 3px transparent, 0 0 32px white, 0 0 0px #f65efe, 0 0 18px #f65efe, 0 0 11px #f65efe, 0 0 14px white, 0 0 20px white;
    }
}

@keyframes text-flicker {
    0% {
      opacity:0.1;
      text-shadow: 0px 0px 29px #eb01f6;
    }
    
    2% {
      opacity:1;
      text-shadow: 0px 0px 29px #eb01f6;
    }
    8% {
      opacity:0.1;
      text-shadow: 0px 0px 0px transparent;
    }
    20% {
      opacity:1;
      text-shadow: 0px 0px 29px #eb01f6;
    }
    25% {
      opacity:0.3;
      text-shadow: 0px 0px 29px #eb01f6;
    }
    30% {
      opacity:1;
      text-shadow: 0px 0px 29px #eb01f6;
    }
    
    70% {
      opacity:0.7;
      text-shadow: 0px 0px 29px #eb01f6;
    }
    
    72% {
      opacity:0.2;
      text-shadow:0px 0px 29px #eb01f6;
    }
    
    77% {
      opacity:.9;
      text-shadow: 0px 0px 29px #eb01f6;
    }
    100% {
      opacity:.9;
      text-shadow: 0px 0px 29px #eb01f6;
    }
}

.outline {
    -webkit-text-stroke: 1px white; 
    font-family:'Bebas Neue', cursive;
}

.flex {
    display: flex;
}

.hero-img {
    width: 200px;
    height: 169px;
}

.header {
    margin: 0;
   text-align: center;
}

.blog .header {
    margin: 0 auto;
    display: flex;
}

.home .hero {
    background-image: url(assets/hotnewkeyboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

  /* Page Content */

.section-height {
    min-height: 800px;
}
.section {
    padding: 30px;
}

.gradient-background {
    background: linear-gradient(135deg, rgba(247, 202, 201, 1) 0%, rgba(146, 168, 209, 1) 100%);
}

 .explored-list, .to-explore-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 83%;
    margin: 0 auto;
    justify-content: space-evenly;
 }

.explored-item, .to-explore-item {
    padding: 100px;
    border-radius: 50%;
    text-align: center;
    background-color: white;
    width: 100px;
    height: 100px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Bebas Neue', cursive;
    font-size: 30px;
    transition: 0.3s background-color ease-in;
}

.explored-item:hover {
    background-color: pink;
}

.explored-item{
    color: black;
    text-decoration: none;   
    cursor: pointer;
}

.podcast-link {
    background-image: url(assets/record.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.image-link {
    display: block;
}

.image-link:hover {
    cursor: pointer;
}

.woman {
    background-image: url(assets/hotnewwomancomputer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-header {
    font-size: 60px;
}

.text {
    font-size: 30px;
    width: 60%;
    margin-left: 15%;
}

/* Blog */

.blog-header {
    font-size: 60px;
    text-align: center;
    color: white;
}

.web-monetization .hero {
    background-image: url(assets/atm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.explored-logo {
    width: 100px;
    display: block;
}

.blog .header {
    justify-content: center;
    align-items: center;
    width: 450px;
}

.blog .header .glow-flicker, .blog .header .glow {
    font-size: 90px;
}


.blog .header .hero-img {
    width: 150px;
}

.back-link {
    font-size: 32px;
    text-decoration: none;
    cursor: pointer;
}

.web-monetization{
    background-image: url(assets/webmonetizationscreenshot.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    min-height: 350px;
}

.digital-wallet {
    background-image: url(assets/digitalwallet.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    min-height: 350px;
}

.funny-money {
    background-image: url(assets/dollar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-img {
    width: 100%;
    display: block;
}

/* ACTIONS */


.actions .hero {
    background-image: url(assets/mic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.ratings {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
    margin: 3% 0;
    padding: 0;
}
    
/* .rating-container {
        padding: 100px;
        border-radius: 50%;
        text-align: center;
        background: linear-gradient(135deg, rgba(247, 202, 201, 1) 0%, rgba(146, 168, 209, 1) 100%);
        border: 10px solid white;
        width: 40px;
        height: 40px;
        margin: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family:'Bebas Neue', cursive;
        font-size: 30px;
        transition: 0.3s background-color ease-in;
        flex-direction: column;
} */

.rating-container {
    padding: 103px 0px 134px;
    width: 326px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    transition: 0.3s background-color ease-in;
    flex-direction: column;
    height: 113px;
    margin: 5px;
}

.rating {
    margin: 0;
    font-size: 100px;
}

.rating-header {
    margin-bottom: 0;
}

.drop-shadow {
    text-shadow: -1px 3px 9px black;
}

.actions .header {
    width: 730px;
}

.cassette {
    background-image: url(assets/cassette.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cassette-tape {
    background-image: url(assets/cassettetape.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.content-img {
    margin: 0 auto;
    width: 100%;
}

.final-img {
    width: 400px;
    margin: 0 auto;
}

.player {
    margin: 100px 0 200px;
}

.logo-img {
    opacity: 1;
    transition: 0.3s opacity ease-in;
    width: 80px;
    margin-left: 20px;
}

.logo-link:hover .logo-img {
    opacity: 0.5;
}

.logos {
    bottom: 30px;
    right: 30px;
    position: absolute;
}

.logos li{
    display: inline;
}


/* AR */

.ar .hero {
    background-image: url(assets/ar/ar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.ar .header {
    width: 465px;
}

.wow {
    background-image: url(assets/ar/hotnewfan.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}

.mom {
    background-image: url(assets/ar/mom.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.rating-container {
    background-image: url(assets/award.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about {
    position: relative;
}

/* Cup */

.cup .hero {
    background-image: none;
}

.hero-main-img {
    margin: 0 auto;
    display: block;
}

/* Hash */


.hash .hero {
    background-image: url(assets/hash/rumormill.gif);
    background-repeat: no-repeat;
    background-size: cover;
}


/* Store */

.store-container {
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
}
/* 
.store .hero {
    background-image: url(assets/store/hotoldtech.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */

.store-section {
    background-image: url(assets/store/store.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.product {
    width: 50%;
    margin: 0 auto;
}

.product-pic {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: block;
    margin-top: 100px;
    border: 10px solid black;
    padding: 31px;
    margin-bottom: 100px;
}

.offering {
    margin: 80px 0;
}